.header_area {
    background: gray;
    display: flow-root;
}

.header_area ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header_area ul li {
    float: left;
}

.header_area ul li a {
    display: block; 
    padding: 10px 12px;
    text-decoration: none;
    color: white;
    background: gray;
    border-radius: 1px;

}
.header_area ul li .active {
    color: gray;
    background: white; 
}

.header_area ul li a:hover {
    color: gray;
    background: white;
}